[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=${NODE_EXPORTER_USER}
Group=${NODE_EXPORTER_USER}
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=${BIN_DIRECTORY}/${BIN} --web.listen-address=:${PORT} --web.config=${CONF_DIRECTORY}/config.yml --collector.systemd --collector.processes --collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/)

[Install]
WantedBy=multi-user.target